<app-header [showMenu]="true" title="Inicio"></app-header>

<ion-content>

<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center" *ngIf="!loading && !products.length">
  <div>
    <p>Bienvenido a TeLlevoApp</p>
  </div>
  <div>
    <p>¿A donde quieres ir?</p>
  </div>
</ion-card>


  <ion-list *ngIf="!loading">
    <ion-item-sliding class="product-item" *ngFor="let p of products">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="p.image" />
        </ion-avatar>
        <ion-label>
          <div class="name">{{p.name}}</div>
         
        </ion-label>
      </ion-item>
      
  
   
    </ion-item-sliding>
  </ion-list>
  <!--loading-->
  <ion-list *ngIf="loading">
      
  </ion-list>


  
</ion-content>